* text=auto
*.css linguist-vendored
*.less linguist-vendored

# Enforce Unix newlines
*.php   text eol=lf
*.css   text eol=lf
*.html  text eol=lf
*.js    text eol=lf
*.json  text eol=lf
*.less  text eol=lf
*.sass  text eol=lf
*.scss  text eol=lf
*.md    text eol=lf
*.yml   text eol=lf
