//nav variables
$navbar-default-bg: #feb82b;
$navbar-default-border: darken($navbar-default-bg, 7.5%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 10%);
$navbar-default-link-color: #333;